<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real-Time IC</title>
</head>
<body>

<div class="container">
        <form method="post" action='/resultIC'>
        <h1 style="color: #90c7f8;">실시간 고속도로 현황</h1>

        <br>
        <br>

        <!-- elk 데이터 for 전체 고속도로 종류 -->
        {% for x in route_kind %}
        <input type="submit" value="{{ x[0] + '. ' + x[1] }}" name="selectIC" class="choiceIC"/> 
        {% endfor %}
        
        <br>
        <br>

    </form>`
</div>

</body>

<style>
    .container {
        text-align: center;
        border: 7px solid;
        border-color: #90c7f8;
        position: relative;
    }

    .choiceIC {
        border: 2px solid; 
        border-color: #90c7f8; 
        width: 175px; 
        height: 25px; 
        background-color: white;
    }
</style>
</html>